:root {
    --darkpurple: #7866be;
    --purple: #9686d5;
    --green: #43cc92;
    --dark: #0e0c13;
    --black: #23212c;
    --ninjalight: #23253b;
    --ninjadark: #1b1d2d;
    --ninjablack: #21202d;
    --twitch: #19171c;
    --newpurple: #7f4edb;
    --redy: #bb2443;
}

.profileHeader {
    width: calc (100% - 20px);
    margin: 10px;
    height: 46px;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 4px 4px 16px var(--twitch);
    background: var(--twitch);
    color: var(--darkpurple);
    line-height: 46px;
    font-size: 14px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left {
    float: left;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    text-decoration: overline;
    text-decoration-color: var(--darkpurple);
    color: #dedede;
    height: 46px;
    margin-top: 4px;
    line-height: 46px;
    cursor: pointer;
}

.left span {
    color: var(--darkpurple);
}

.right {
    float: right;
}

.right a {
    text-decoration: none;
    color: var(--darkpurple);
    margin: 0 10px;
}

.logout {
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    margin: 7px 0;
    width: 78px;
    background: var(--darkpurple);
    border-radius: 3px;
    color: var(--twitch);
    font-size: 13px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logout:hover {
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
    background: var(--purple);
}

.channel {
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    color: #000000;
    background: #ffffff;
    width: calc (100% - 40px);
}

.channel a {
    text-decoration: none;
    color: var(--darkpurple);
}

.channel span {
    color: var(--darkpurple);
}

.sectiontype {
    border-bottom: 2px solid var(--darkpurple);
}